<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<body style="font-family: Arial; margin: 0; font-size: 20px">

<div id=":2m"  jslog="20277; u014N:xr6bB; 1:WyIjdGhyZWFkLWY6MTc4MzEwMDE5Mjc4MzUyMzQzOSJd; 4:WyIjbXNnLWY6MTc4MzEwMDE5Mjc4MzUyMzQzOSJd"><div id=":2n"><u></u>







    <div style="margin:0;padding:0;text-align:center;background:#f7f7f7;height:100%" >
        <img width="1" height="1" alt="" src="">
        <table  summary="" width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#f7f8f9" align="center" style="border-collapse:collapse">
            <tbody style="line-height:1.4">
            <tr style="line-height:1.4">
                <td  width="30" style="border-collapse:collapse;line-height:1.4">&nbsp;</td>
                <td style="border-collapse:collapse;line-height:1.4;margin:0;padding:0" align="center">
                    <table style="border-collapse:collapse;line-height:1.4;border-spacing:0">
                        <tbody style="line-height:1.4">
                        <tr style="line-height:1.4;background-color:#ffffff">
                            <td  style="border-collapse:collapse;line-height:1.4;margin:0;padding:0" align="center">
                                <table class="m_-5983986301077827271w100" style="border-collapse:collapse;line-height:1.4;table-layout:fixed;font-family:arial;margin:0" cellspacing="0" width="700" cellpadding="0" border="0" align="center">

                                    <tbody style="line-height:1.4"><tr style="line-height:1.4">
                                        <td  style="border-collapse:collapse;line-height:1.4;padding-left:55px;padding-top:3.125rem; color: #009e7f; font-size: 2rem; font-weight: bold">
                                            <!--<img src="" width="164" height="30" style="line-height:1.4" class="CToWUd" data-bit="iit">-->
                                            Sandaga
                                        </td>
                                        <td  align="right" style="border-collapse:collapse;line-height:1.4">
                                            <div >
                                            </div>
                                        </td>
                                    </tr>

                                    </tbody></table>
                            </td>
                        </tr>
                        <tr style="line-height:1.4">
                            <td style="border-collapse:collapse;line-height:1.4;margin:0;padding:0" align="center">
                                <table  summary="" style="border-collapse:collapse;line-height:1.4;margin:0;padding:0;background-color:#ffffff!important" width="700" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" align="center">
                                    <tbody style="line-height:1.4">
                                    <tr style="line-height:1.4">
                                        <td style="border-collapse:collapse;line-height:1.4">
                                            <table  style="border-collapse:collapse;line-height:1.4;margin:0 auto;background-color:#ffffff!important" width="590" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" align="center">
                                                <tbody style="line-height:1.4">
                                                <tr style="line-height:1.4">
                                                    <td  style="border-collapse:collapse;line-height:1.4;font-family:arial;font-size:14px;color:#1a1a1a;line-height:25px;padding-top:60px">
                                                        <div style="line-height:1.4;margin-bottom:30px">
                                                            <p style="line-height:1.4;font-size:20px;font-weight:bold;margin:8px 0">Bonjour [[${receiver}]],</p>
                                                            <p style="line-height:1.4;font-size:14px;margin:8px 0 22px 0">Vous avez un nouveau message.</p>
                                                        </div>


                                                        <a th:href="@{${categoryURL}}" style="line-height:1.4;text-decoration:none">
                                                            <div style="line-height:1.4;padding:8px 16px;border:solid 1px #cad1d9;border-radius:4px;background:white;margin-bottom:24px">
                                                                <table style="border-collapse:collapse;line-height:1.4">
                                                                    <tbody style="line-height:1.4"><tr style="line-height:1.4">
                                                                        <td style="border-collapse:collapse;line-height:1.4">
                                                                            <img th:src="@{${imageURL}}" alt="image de l'annonce" style="line-height:1.4;width:100px;border-radius:4px" class="CToWUd" data-bit="iit"/>
                                                                        </td>
                                                                        <td style="border-collapse:collapse;line-height:1.4;padding-left:24px">
                                                                            <b style="line-height:1.4">[[${subject}]]</b><br style="line-height:1.4">
                                                                            <b style="line-height:1.4"><span style="line-height:1.4;color:#1a1a1a">[[${price}]] €</span></b>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody></table>
                                                            </div>
                                                        </a>
                                                        <a th:href="@{${chatURL}}" style="text-decoration: none; color: #1a1a1a">
                                                            <div style="line-height:1.4;border:solid 1px #cad1d9;margin:24px 0 30px 0;padding:10px 20px;border-radius:4px">
                                                                <p style="line-height:1.4;font-size:16px;font-weight:500; text-decoration: none;">[[${sender}]]</p>
                                                                <p style="line-height:1.4">
                                                                    <strong style="line-height:1.4">« [[${message}]] »</strong>

                                                                </p>
                                                            </div>
                                                        </a>

                                                        <p style="line-height:1.4;margin-bottom:30px;text-align:center">
                                                            <a href="#" title="Répondre dans la messagerie" style="line-height:1.4;text-decoration:none;color:#ffffff;padding:12px 20px;text-align:center;border-radius:4px;background:#009e7f;font-size:14px;font-weight:bold" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.sandaga.fr/messages/id/hj678zX2vbJ5mNbpuKx9qtNIsinXUpZuAP4EDa4sLMFMEre28hOX8gF_DHgxDZ33oBdIZAi37wjq_vixXOixkZRmoS-OdsUoyPYFNSzYZceTH5ADg0HxgpQO48-_ZIrn_1fqsOQUC-V3GBQjdbbMcsrQLGur0yX52nuucxgMFVYlHl4cn3VvYxCwoowAyQtN&amp;source=gmail&amp;ust=1701247507173000&amp;usg=AOvVaw0HNB_o2BDsxjetRjq-J4oz">
                                                                Répondre dans la messagerie
                                                            </a>
                                                        </p>



                                                        <div style="line-height:1.4;margin-bottom:30px;font-size:14px">
                                                            <p style="line-height:1.4">Merci de votre confiance et à très bientôt,</p>
                                                            <p style="line-height:1.4"><strong style="line-height:1.4">L'équipe sandaga</strong></p>
                                                        </div>
                                                    </td>
                                                </tr>

                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr style="line-height:1.4;background-color:#373b3f">
                            <td style="border-collapse:collapse;line-height:1.4;background-color:inherit">
                                <table summary="" style="border-collapse:collapse;line-height:1.4;margin:auto" width="590" cellspacing="0" cellpadding="0" border="0" align="center">
                                    <tbody style="line-height:1.4">
                                    <tr style="line-height:1.4">
                                        <td height="50" style="border-collapse:collapse;line-height:1.4"></td>
                                    </tr>
                                    <tr style="line-height:1.4">
                                        <td style="border-collapse:collapse;line-height:1.4">
                                            <a href="https://www.sandaga.fr" title="sandaga" style="line-height:1.4;text-decoration:none; color: #fff; font-size: 2rem; font-weight: bold" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.sandaga.fr&amp;source=gmail&amp;ust=1701247507173000&amp;usg=AOvVaw2sLv8ksbRY_hrF6HCavWug">
                                                <!--<img src="" alt="sandaga" style="line-height:1.4;display:block" width="224" border="0" class="CToWUd" data-bit="iit">-->
                                                Sandaga
                                            </a>
                                        </td>
                                    </tr>
                                    <tr style="line-height:1.4">
                                        <td height="30" style="border-collapse:collapse;line-height:1.4;border-bottom:1px solid white"></td>
                                    </tr>
                                    <tr style="line-height:1.4">
                                        <td height="20" style="border-collapse:collapse;line-height:1.4"></td>
                                    </tr>
                                    <tr style="line-height:1.4">
                                        <td style="border-collapse:collapse;line-height:1.4">
                                            <table width="240" align="left" class="m_-5983986301077827271w100" height="40" style="border-collapse:collapse;line-height:1.4;table-layout:fixed;margin-bottom:10px">
                                                <tbody style="line-height:1.4"><tr style="line-height:1.4">
                                                    <td width="28" height="24" style="border-collapse:collapse;line-height:1.4">
                                                        <a href="#" title="Facebook" style="line-height:1.4;text-decoration:none;border:none;display:inline-block;vertical-align:middle" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/sandaga-1565057520410527/&amp;source=gmail&amp;ust=1701247507173000&amp;usg=AOvVaw0L8w6Z_Ac5ig0QPkC5rem9">
                                                            <img src="https://ci4.googleusercontent.com/proxy/B38qUwo1a4idbvqB5I-WlNaGcdU7npIsJwQARg2A2EZC5afjMft_qZeXh3iTjVJYstcDKUVEzExr0kX-lqihUBaOKFN6IN-L=s0-d-e1-ft#https://img8.sandaga.fr/Emails_contact/facebook.png" alt="Facebook" style="line-height:1.4;display:block;line-height:normal;font-family:Arial;font-size:12px" width="24" height="24" border="0" class="CToWUd" data-bit="iit">
                                                        </a>
                                                    </td>
                                                    <td width="28" height="24" style="border-collapse:collapse;line-height:1.4;vertical-align:middle;padding:0 5px">
                                                        <a href="https://twitter.com/sandaga?lang=fr" title="Twitter" style="line-height:1.4;text-decoration:none;border:none;display:inline-block;vertical-align:middle" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://twitter.com/sandaga?lang%3Dfr&amp;source=gmail&amp;ust=1701247507173000&amp;usg=AOvVaw347H3lvmGbexJAGE07N6mi">
                                                            <img src="https://ci6.googleusercontent.com/proxy/H8KMmLCrIDSTmT3z8x76mQcL5LVMYm_T5v4CN1fmdAfG-QMs-Fbt_SsUgVsO6YDJjCRS8oZEtonBw2hk5ir_w4FymJHoDKY=s0-d-e1-ft#https://img8.sandaga.fr/Emails_contact/twitter.png" alt="Twitter" style="line-height:1.4;display:block;line-height:normal;font-family:Arial;font-size:12px" width="24" height="24" border="0"  data-bit="iit">
                                                        </a>
                                                    </td>
                                                    <td width="28" height="24" style="border-collapse:collapse;line-height:1.4;vertical-align:middle">
                                                        <a href="https://www.instagram.com/sandaga/?hl=fr" title="Instagram" style="line-height:1.4;text-decoration:none;border:none;display:inline-block;vertical-align:middle" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.instagram.com/sandaga/?hl%3Dfr&amp;source=gmail&amp;ust=1701247507173000&amp;usg=AOvVaw0LpjoXBDdq4d6EayeXJu3y">
                                                            <img src="https://ci5.googleusercontent.com/proxy/cRqFHX_hZC6KFGbWHqk7mcY9VjBQAa215E4AOx7lhumbiRWgLLe1K4PjwpT4-MpBbECxtLsOl4qTUeIUpl_pygGse4bhmjpElg=s0-d-e1-ft#https://img8.sandaga.fr/Emails_contact/instagram.png" alt="Instagram" style="line-height:1.4;display:block;line-height:normal;font-family:Arial;font-size:12px" width="24" height="24" border="0" class="CToWUd" data-bit="iit">
                                                        </a>
                                                    </td>
                                                    <td style="border-collapse:collapse;line-height:1.4"></td>
                                                </tr>
                                                </tbody></table>




                                        </td>
                                    </tr>
                                    <tr style="line-height:1.4">
                                        <td height="20" style="border-collapse:collapse;line-height:1.4"></td>
                                    </tr>

                                    <tr style="line-height:1.4">
                                        <td height="20" style="border-collapse:collapse;line-height:1.4"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
                <td class="m_-5983986301077827271wid14" width="30" style="border-collapse:collapse;line-height:1.4">&nbsp;</td>
            </tr>
            </tbody>
        </table><div class="yj6qo"></div><div class="adL">

    </div></div></div></div>
</body>

</html>
