

.input-box {
  position: relative;
  margin-top: 25px;



  input[type="text"],
  input[type="search"],
  input[type="password"],
  input[type="email"],
  input[type="tel"],
  input[type="number"],
  input.form-control {
    display: block;
    width: 100%;
    padding: 0.9rem;
    font-size: 1.3rem;
    line-height: 1.5;
    color: $text-bold;
    font-weight: $fw-400;
    background-color: $white;
    background-clip: padding-box;
    border: 1px solid var(--dss-border-color);
    border-radius: var(--dss-border-radius-base);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:focus {
      //background-color: $white;
      outline: none;
      box-shadow: 0 0 0 0 transparent;
      border-color: $primary-regular;
    }
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }



  &.disabled {
    cursor: "not-allowed";
    opacity: 0.6;

    input {
      background-color: rgb(250, 246, 246);
    }
  }
  input {
    &::placeholder {
      color: #77798C;
      font-size: 1.3rem;
    }

    &.place {
      padding-left: 37px;
      background-color: rgba(243, 248, 251, 0.9);

      &.no-icon {
        padding-left: 15px;
      }
    }

    &.error {
      border: 1px solid $red;
    }
  }

  span {
    position: absolute;
    right: 0;
    top: -24px;
    font-size: 1rem;
    color: $text-light;

    &.error {
      color: $red;
    }
  }

  label {
    position: absolute;
    left: 0;
    top: -24px;
  }

  svg {
    height: 15px;
    width: 15px;

    position: absolute;
    top: 13px;
    left: 13px;

    path {
      fill: $text-light;
    }
  }

  p {
    &.error {
      font-size: 1.1rem;
      margin-top: 3px;
      color: $red;
    }
  }

  .symbol {
    position: absolute;
    top: 13px;
    right: 13px;
    font-size: 12px;
  }
}

.textarea-box {
  position: relative;
  margin-top: 40px;

  label {
    margin-bottom: 12px;
  }

  &.custom {
    margin-top: 10px;
    margin-bottom: 10px;
    textarea {
      height: 50px;
      min-height: 70px;
      border: 1px solid $grey-800;
    }
  }
  textarea {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 1.3rem;
    line-height: 1.5;
    color: #0d1136;
    font-weight: 400;
    background-color: $white;
    background-clip: padding-box;
    border: 1px solid var(--dss-border-color);
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    resize: none;
    min-height: 160px;

    &.error {
      border: 1px solid $danger;
    }

    &:focus,
    &:active {
      color: #000;
      background-color: $white;
      border-color: var(--dss-border-color);
      outline: none;
      box-shadow: 0 0 0 0 transparent;
    }
  }

  p {
    &.error {
      position: absolute;
      top: 40px;
      color: #db4437;
      font-size: 11px;
      font-weight: 400;

      &.textarea {
        top: 206px;
      }
    }
  }

  span {
    &.texterea {
      position: absolute;
      right: 8px;
      top: -25px;
      font-size: 10px;
      color: hsl(180, 2%, 67%);

      &.error {
        color: #d34936;
      }
    }
  }
}